/* Font */

@font-face {
  font-family: "Glacial";
  src: url("../font/GlacialIndifference-Regular.otf") format("opentype");
}

* {
  color: #e0f8cf;
  background: #071821;
  font-family: "Glacial", monospace, Verdana, Arial;
  text-align: center;
}

/* Content */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 {
  transition: all 0.2s ease-in-out;
  margin: 10px;
  font-size: 35px;
}

h2 {
  transition: all 0.35s ease-in-out;
  font-size: 26px;
  margin: 0 0 1em 0;
}

/* icon list */
ul {
  padding: 0 5%;
}

li {
  transition: all 0.5s ease-in-out;
  display: inline-block;
  font-size: 30px;
  list-style: none;
  vertical-align: bottom;
  margin: 10px;
}

a {
  text-decoration: none;
}

/* Screen reader */
.screen-reader {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.iconify .title {
  position: absolute;
  top: 20px;
  background: silver;
  padding: 4px;
  left: 0;
  white-space: nowrap;
}

/* Footer enter button */
footer {
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translate(50%, 0);
}

span {
  background: #306850;
}

footer > a {
  font-size: 26px;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #e0f8cf;
  border-radius: 15px;
  background: #306850;
  transition: all 0.25s ease-out;
}

footer > a:hover {
  font-size: 35px;
  transition: all 0.25s ease-in;
}

/* low-res tablets, mobile landscape */
@media (min-width: 481px) and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2,
  li {
    font-size: 30px;
  }
  footer > a {
    font-size: 20px;
  }
  footer > a:hover {
    font-size: 25px;
  }
}

/* tablets + ipads landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 55px;
  }
  h2,
  li {
    font-size: 40px;
  }
  footer > a {
    font-size: 30px;
  }
  footer > a:hover {
    font-size: 35px;
  }
}

/* desktop */
@media (min-width: 1025px) {
  h1 {
    font-size: 55px;
  }
  h2,
  li,
  footer > a {
    font-size: 40px;
  }
  footer > a:hover {
    font-size: 45px;
  }
}
