@font-face {
	font-family: 'osaka';
	src: url('font/Osaka-Mono-02.ttf') format("truetype");
}
@font-face {
	font-family: 'glacial';
	src: url('font/GlacialIndifference-Regular.otf') format("opentype");
}


body {
    font-family: "glacial";
    background-color: #306850;
    color: #E0F8CF;
    font-size: 18px;
}

h1 {
    font-size: 50px;
    color: #E0F8CF;
}

hr {
    display: block;
    size: 50px;
    margin-top: -25px;
    margin-left: 20px;
    width: 100%;
    color: white;
}

.mainContainer {
    width: 80%;
    height: 100%;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #071821;
    padding: 10px;
}

.header-main img {
    max-height: 176px;
    width: auto;
    margin-right: -50px;
}