:root {
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --32px: 2rem;
    --40px: 2.5rem;
    --48px: 3rem;
    --56px: 3.5rem;
    --64px: 4rem;
    --320px: 20rem;
    --768px: 48rem;
    --1024px: 64rem;

    --dark-color: #071821;
    --light-color: #E0F8CF;
    --accent-color-1: #306850;
    --accent-color-2: #86C06C;
}

@font-face {
    font-family: "Glacial";
    src: url("./font/GlacialIndifference-Regular.otf") format("opentype");
}
  
@font-face {
    font-family: "Cafe";
    src: url("./font/This_Cafe.otf") format("opentype");
}

@font-face {
    font-family: "RaspberryCake";
    src: url("./font/RaspberryCake-1Glme.ttf") format("truetype");
}

@font-face {
    font-family: "ReallyFree";
    src: url("./font/ReallyFree-ALwl7.ttf") format("truetype");
}

  
* {
    margin: 0;
    padding: 0;
    font-family: "Glacial", monospace, Verdana, Arial;
}

html {
    font-size: var(--16px);
    background-color: var(--dark-color);
}

body {
    scroll-behavior: smooth;
}

.main {
    overflow: clip;
}

h1, h2, h3 , .about-name, .about-title{
    font-family: "RaspberryCake", monospace, Verdana, Arial;
    font-size: var(--64px);
    background: linear-gradient(to bottom, var(--light-color), var(--accent-color-2), var(--accent-color-1));
    background-clip: text;
    color: transparent;
    margin: 1.5rem 0;
    line-height: 4.5rem;
}

h2 {
    font-size: var(--56px);
}

h3 {
    font-size: var(--48px);
}

.handwriting, .handwriting p {
    font-family: "ReallyFree", monospace, Verdana, Arial;
    font-size: var(--40px);

}
a {
    color: var(--accent-color-2);
}

.random-title {
    font-family: "RaspberryCake", monospace, Verdana, Arial;
    font-size: var(--40px);
    background: linear-gradient(to bottom, var(--light-color), var(--accent-color-2), var(--accent-color-1));
    background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
    line-height: 4.5rem;
}

/* NAV BAR */


nav {
    height: var(--40px);
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 8;

}
.title-corner {
    font-size: var(--32px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}
.title-corner span {
    font-family: "RaspberryCake", monospace, Verdana, Arial;
}
.title-corner img {
    width: 2rem;
    margin: 0.5rem;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

.section-title {
    display: none;
}
.section-title.active {
    display: block;
}

#random-image {
    width: 100%;
    max-height: calc(70vh - var(--40px));
    object-fit: contain;
}

nav :not(.rambling-button) a {
    height: 100%;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
    margin-top: 0.25rem;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-color);
    box-shadow: -0.3rem 0 0.3rem var(--accent-color-1);
    background-color: var(--light-color);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
}
nav :not(.rambling-button) a:hover {
    background-color: var(--accent-color-1);
    color: var(--light-color);
    transform: scale(1.2);
}
nav svg {
    fill: var(--dark-color);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
}

#sidebar-active { display: none;}

.open-sidebar-button, .close-sidebar-button {
    display: flex;
    align-self: center;
    padding: 0.5rem;
}
.open-sidebar-button:hover svg, .close-sidebar-button:hover svg {
    fill: var(--light-color);
    transform: scale(1.2);
}
.open-sidebar-button:hover, .close-sidebar-button:hover {
    background-color: var(--accent-color-1);
}
.close-sidebar-button {
    display: none;
}
.links-container {
    z-index: 10;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: var(--40px);
    right: -100%;
    width: 10rem;
    transition: 0.5s ease;
}

.links-container svg {
    margin-right: 0.5rem;
}


#sidebar-active:checked ~ .links-container {
    display: flex;
    right: 0;
}
#sidebar-active:checked ~ .open-sidebar-button {
    display: none;
}
#sidebar-active:checked ~ .close-sidebar-button {
    display: block;
    z-index: 10;
}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}



/* TOP CONTENT */

.content {
    font-size: var(--20px);
    color: var(--light-color);
}
.content div {
    line-height: 3rem;
}

body section:first-of-type {
    display: flex
}


#projects:target {margin-top: 50px}


section {
    scroll-margin-top: var(--64px);
    min-height: calc(100vh - var(--40px));
    margin: auto;
    max-width: 90%;
}

section .half {
    flex: 1;
    margin: 0 1rem;
}

.vcenter {
    align-content: center;
}

.content-transition {
    background-image: linear-gradient(var(--dark-color), var(--accent-color-1), var(--dark-color));
    height: 1rem;
    margin: 1rem 0;
}



.ladder-2 { margin-left:2rem }
.ladder-3 { margin-left:3rem }
.ladder-4 { margin-left:4rem }


/* PROJECTS */

#projects {
    max-width: 100%;
}

.light-font, .light-font p {
    color: var(--light-color);
}
.dark-font, .dark-font p {
    color: var(--dark-color);
}


#projects h2 {
    text-align: center;
}

#projects .card-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#projects .flex-container {
    display: flex;
    height: 100%;
}
#projects .button-toolbar {
    display: flex;
    justify-content: center;
}

#projects .flex-child {
    width: 400px;
    margin: auto;
}

#projects .flex-child p {
    margin-bottom: 1.5rem;
}

#projects .button {
    color: var(--light-color);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    text-decoration: none;
}

#projects .button-primary {
    background-color: #306850;
    border-color: #306850;
    margin-right: .5rem !important;
}

#projects .button:hover {
    transform: scale(1.2);
    color: var(--accent-color-2)
}

#projects .button-secondary {
    background-color: #5a6268;
    border-color: #545b62;
    margin-right: .5rem !important;
}

#projects .flex-image {
    display: block;
    max-height: 450px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#project-slider-container {
    background: radial-gradient(farthest-side, var(--accent-color-1), var(--dark-color));
    min-height: calc(90vh - var(--56px));
    margin: 0;
    display: flex;
    justify-content: center;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.item {
    position: absolute;
    width: 1000px;
    height: 600px;
    text-align: justify;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 520px);
    top: 10vh;
}

.item:hover {
    box-shadow: 0 0 10px 5px var(--accent-color-1);
}

#next-project, #prev-project {
    position: absolute;
    top: 50%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    z-index: 8;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
}
#next-project svg, #prev-project svg{
    fill: var(--light-color);
}

#next-project:hover, #prev-project:hover {
    transform: scale(2);
}

#next-project:hover svg, #prev-project:hover svg {
    fill: var(--accent-color-2);
}

.hide {
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

#next-project {
    left: unset;
    right: 50px;
}

/* PROJECT SPECIFICS */
.kingdomsLastHand {
    background-color: #542300;
}
.kingdomsLastHand h3 {
    background: linear-gradient(to bottom, #542300, #df9830, #542300);
    background-clip: text;
    color: transparent;
}
.kingdomsLastHand p {
    color: #EDE7E4;
}

.gaianaut {
    background-color: #0D181A;
}
.gaianaut h3 {
    background: linear-gradient(to bottom, #8B278C, #EA6F46, #8B278C);
    background-clip: text;
    color: transparent;
}
.gaianaut p {
    color: #EDE7E4;
}

.cursorOdyssey {
    background-color: #110626;
}
.cursorOdyssey h3 {
    background: linear-gradient(to bottom, #940000, #FFFFFF, #940000);
    background-clip: text;
    color: transparent;
}

.demonBlasphemer {
    background-color: #0B3043;
}
.demonBlasphemer h3 {
    background: linear-gradient(to bottom, #EDFEDE, #ACD496, #519375);
    background-clip: text;
    color: transparent;
}

.treestroyer {
    background-color: #2C1A0D;
}
.treestroyer h3 {
    background: linear-gradient(to bottom, #94592D, #FBF5E9, #94592D);
    background-clip: text;
    color: transparent;
}

.softBodyDemonstration {
    background-color: #272525;
}
.softBodyDemonstration h3 {
    background: linear-gradient(to bottom, #2A4C56, #77AA97, #2A4C56);
    background-clip: text;
    color: transparent;
}

.wallker {
    background-color: #C4D1D9;
}
.wallker h3 {
    color: #01040B;
}

.heimweh {
    background-color: #000;
}
.heimweh h3 {
    background: linear-gradient(to bottom, #C5C5C5, #FFFFFF, #C5C5C5);
    background-clip: text;
    color: transparent;
}

.hexNavigator {
    background-color: #3C3A44;
}

/* RAMBLINGS */
#ramblings {
    max-width: 100%;
}
#ramblings #ramblings-container {
    width: 100%;
    height: 100%;
    position: relative;
}
#ramblings .button {
    margin: 1rem;
    display: inline-block; 
    position: absolute;
}

/* RAMBLING SUBPAGE */
#rambling-content {
    max-width: 80%;
    margin: auto;
    padding-top: 5rem;
}

/* HEAP */
#heap ul li {
    list-style-type: none;
    margin-bottom: 1rem;
}

#heap .button, #ramblings .button, .rambling-button .button {
    color: var(--light-color);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
    text-decoration: none;
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    width: 20rem;
}

#heap .button:hover {
    transform: scale(1.2);
    color: var(--accent-color-2);
}

.rambling-button .button {
    padding: 0.4rem 2rem;
    width: unset;
    line-height: unset;
    border-radius: unset;
}
.rambling-button .button:hover {
    color: var(--dark-color);
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
}



/* ABOUT */
#about {
    min-width: 100%;
    position: relative;
}

#about label {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    height: 350px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#about .flip-card {
    position: relative;
    width: 100%;
    height: 130%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

#about .flip-card .front, #about .flip-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: var(--dark-color);
    backface-visibility: hidden;
    border-radius: 2rem;
    border: 0.5rem solid #000;
    box-shadow: 0 0 10px 5px var(--accent-color-1);
}

#about .flip-card .back {
    transform: rotateY(180deg);
    color: var(--dark-color);
    background: var(--accent-color-1);
    border: 0.5rem solid var(--light-color);
    box-shadow: 0 0 10px 5px var(--dark-color);
}

#about label:hover .flip-card {
    transform: rotateY(2deg);
}

#about input {
    display: none;
}

#about :checked + .flip-card {
    transform: rotateY(180deg);
}

#about label:hover :checked + .flip-card {
    transform: rotateY(175deg);
}

#about .about-image {
    z-index: 0;
    position: relative;
    width: 160px;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}

#about .about-image::before,
#about .about-image::after {
    position: absolute;
    z-index: -1;
    content: '';
    border-radius: inherit;
    inset: -0.5rem;
    background-image: conic-gradient(
        var(--accent-color-2),
        var(--accent-color-1),
        var(--dark-color),
        var(--accent-color-2)
    );
    animation: colorSpin 3s linear infinite;
}
@keyframes colorSpin {
    to {
        rotate: 360deg;
    }
}

#about .about-image::after {
    filter: blur(2rem);
    opacity: 0.7;
}

#about .front img {
    width: 100%;
    display: block;
    aspect-ratio: 1;
    margin: 30px 0 20px 0;
    border-radius: inherit;
}
#about .about-name, #about .about-title {
    margin: unset;
    line-height: 4rem;
}
#about .about-title {
    font-size: var(--48px);
    margin-bottom: 1.5rem;
}
#about .about-back {
    height: 100%;
    padding: 1rem;
    text-align: justify;
}
#about .social-container {
    display: flex;
    justify-content: center;
}
#about .social-container a {
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
}

#about .social-container a:hover{
    transform: scale(1.2);
}

#about .social-container a:hover svg path{
    fill: var(--accent-color-2);
}

#about .bubbleContainer {
    width: 100%;
    min-height: calc(100vh - var(--40px));
    overflow: hidden;
}

#about .bubbles {
    position: relative;
    display: flex;
    z-index: -20;
    justify-content: space-between;
}

#about .bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #86C06C;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #86C06C44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: bubble calc(1s * var(--i)) linear infinite;
    animation-duration: calc(150s / var(--i));
}
#about .bubbles span:nth-child(even) {
    background: var(--accent-color-1);
    box-shadow: 0 0 0 10px #30685044, 0 0 50px #fff, 0 0 100px #fff;
}
@keyframes bubble {
    0% { 
        transform: translateY(calc(100vh - var(--40px))) scale(0); 
        opacity: 1.0;
    }
    100% { 
        transform: translateY(50vh) scale(1); 
        opacity: 0;
    }
}

#about .footerWave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: url(./images/wave.png);
    background-size: 1000px 75px;
}

#about .footerWave.wave1 {
    animation: wave 30s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
#about .footerWave.wave2 {
    animation: wave2 15s linear infinite;
    z-index: 4;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
#about .footerWave.wave3 {
    animation: wave 20s linear infinite;
    z-index: 3;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
#about .footerWave.wave4 {
    animation: wave2 10s linear infinite;
    z-index: 2;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes wave2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.pseudo-footer {
    z-index: 100;
    width: 100%;
    text-align: center;
    color: var(--dark-color);
    position: absolute;
    bottom: 0;
    line-height: unset;
}


/* Content Falacy at 1104px */
@media(max-width: 69rem) {
    section {
        flex-direction: column;
        max-width: 85%;
    }
    section .half {
        flex-basis: 32rem;
        margin: auto;
    }

    #projects .item {
        width: 700px;
        left: calc(50% - 370px);
    }
    #projects .flex-child {
        width: 300px;
        font-size: var(--16px);
    }
    #projects .flex-child p {
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    #projects .flex-image {
        max-height: 400px;
        max-width: 300px;
    }
    #rambling-content {
        padding-top: 2rem;
        max-width: 85%;
    }
}


/* Up until PC 1024px */
@media(max-width: 64rem) {

}

/* Mobile 768px */
@media(max-width: 48rem) {
    h3 {
        font-size: var(--40px);
    }
    section {
        scroll-margin-top: var(--40px);
    }
    h1 {
        font-size: var(--56px);
    }
    .random-title {
        font-size: var(--32px);
    }
    .content {
        font-size: 1rem;
    }
    .content div {
        line-height: 2rem;
    }
    .ladder-2, .ladder-3, .ladder-4 {
        margin-left: 1rem;
    }
    section .half {
        flex-basis: 30rem;
    }

    .links-container {
        width: 14rem;
    }
    nav :not(.rambling-button) a {
        padding: 1.5rem;
    }

    #projects:target {
        margin-top: 0px;
    }
    #projects .slider {
        overflow: unset;
    }
    #next-project, #prev-project {
        top: 105%;
    }
    #projects .flex-container {
        flex-direction: column-reverse;
    }
    #projects .item {
        height: 100%;
        width: 100%;
        left: unset;
        padding: 10px 0;
        top: unset;
    }
    #projects .flex-child {
        width: 300px;
        padding: 8px;
        font-size: var(--16px);
    }
    #projects .flex-child p {
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
    #projects h3 {
        line-height: 3rem;
    }

    #projects .right {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6rem;
    }
    #projects .flex-image {
        max-height: 250px;
        max-width: 300px;
    }

    #heap .button, #ramblings .button {
        width: 16rem;
    }


    #about label {
        top: unset;
        left: unset;
        transform: unset;
        width: calc(100% - 2.5rem);
        height: 44%;
        perspective: 500px;
        margin: 4rem 1rem 1rem 1rem;
    }
    #about .flip-card {
        height: 150%;
    }
    #about .flip-card .front, #about .flip-card .back {
        border: 0.25rem solid #000;
    }
    #about .about-title {
        font-size: var(--32px);
    }
    #about .flip-card .back {
        border: 0.25rem solid var(--light-color);
    }
    #about .about-back {
        padding: 1.5rem;
    }
    .handwriting p {
        font-size: var(--32px);
    }
    #about .footerWave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: url(./images/wave.png);
        background-size: 500px 50px;
    }
    #rambling-content {
        padding-top: 2rem;
        max-width: 90%;
    }
    .rambling-button .button {
        padding: 0.4rem 0.5rem;
    }
}