:root {
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
    --32px: 2rem;
    --40px: 2.5rem;
    --48px: 3rem;
    --56px: 3.5rem;
    --64px: 4rem;
    --320px: 20rem;
    --768px: 48rem;
    --1024px: 64rem;

    --dark-color: #071821;
    --light-color: #E0F8CF;
    --accent-color-1: #306850;
    --accent-color-2: #86C06C;
}

@font-face {
    font-family: "Glacial";
    src: url("./font/GlacialIndifference-Regular.otf") format("opentype");
}
  
@font-face {
    font-family: "Cafe";
    src: url("./font/This_Cafe.otf") format("opentype");
}

@font-face {
    font-family: "RaspberryCake";
    src: url("./font/RaspberryCake-1Glme.ttf") format("truetype");
}
  
* {
    margin: 0;
    padding: 0;
    font-family: "Glacial", monospace, Verdana, Arial;
}

html {
    font-size: var(--16px);
    background-color: var(--dark-color);
}

body {
    scroll-behavior: smooth;
}

.main {
    overflow: clip;
}

h1, h2 {
    font-family: "RaspberryCake", monospace, Verdana, Arial;
    font-size: var(--64px);
    background: linear-gradient(to bottom, var(--light-color), var(--accent-color-2), var(--accent-color-1));
    background-clip: text;
    color: transparent;
    margin: 1.5rem 0;
    line-height: 4.5rem;
}

h2 {
    font-size: var(--56px);
}

.random-title {
    font-family: "RaspberryCake", monospace, Verdana, Arial;
    font-size: var(--40px);
    background: linear-gradient(to bottom, var(--light-color), var(--accent-color-2), var(--accent-color-1));
    background-clip: text;
    color: transparent;
    margin-bottom: 1.5rem;
    line-height: 4.5rem;
}

/* NAV BAR */


nav {
    height: var(--40px);
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;

}
.title-corner {
    font-size: var(--32px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}
.title-corner span {
    font-family: "RaspberryCake", monospace, Verdana, Arial;
}
.title-corner img {
    width: 2rem;
    margin: 0.5rem;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }

.section-title {
    display: none;
}
.section-title.active {
    display: block;
}

#random-image {
    width: 100%;
    max-height: calc(70vh - var(--40px));
    object-fit: contain;
}

nav a {
    height: 100%;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
    margin-top: 0.25rem;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark-color);
    box-shadow: -0.3rem 0 0.3rem var(--accent-color-1);
    background-color: var(--light-color);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
}
nav a:hover {
    background-color: var(--accent-color-1);
    color: var(--light-color);
    transform: scale(1.2);
}
nav svg {
    fill: var(--dark-color);
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
}

#sidebar-active { display: none;}

.open-sidebar-button, .close-sidebar-button {
    display: flex;
    align-self: center;
    padding: 0.5rem;
}
.open-sidebar-button:hover svg, .close-sidebar-button:hover svg {
    fill: var(--light-color);
    transform: scale(1.2);
}
.open-sidebar-button:hover, .close-sidebar-button:hover {
    background-color: var(--accent-color-1);
}
.close-sidebar-button {
    display: none;
}
.links-container {
    z-index: 10;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: var(--40px);
    right: -100%;
    width: 10rem;
    transition: 0.5s ease;
}

.links-container svg {
    margin-right: 0.5rem;
}


#sidebar-active:checked ~ .links-container {
    display: flex;
    right: 0;
}
#sidebar-active:checked ~ .open-sidebar-button {
    display: none;
}
#sidebar-active:checked ~ .close-sidebar-button {
    display: block;
    z-index: 10;
}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}



/* TOP CONTENT */

.content {
    font-size: var(--20px);
    color: var(--light-color);
}
.content div {
    line-height: 3rem;
}

body section:first-of-type {
    display: flex
}

section {
    min-height: calc(100vh - var(--40px));
    margin: auto;
    max-width: 90%;
}

section .half {
    flex: 1;
    margin: 0 1rem;
}

.vcenter {
    align-content: center;
}

.content-transition {
    background-image: linear-gradient(var(--dark-color), var(--accent-color-1), var(--dark-color));
    height: 1rem;
    margin: 1rem 0;
}



.ladder-2 { margin-left:2rem }
.ladder-3 { margin-left:3rem }
.ladder-4 { margin-left:4rem }


/* PROJECTS */

#projects {
    max-width: 100%;
}

#projects h2 {
    text-align: center;

}

#project-slider-container {
    background: radial-gradient(farthest-side, var(--accent-color-1), var(--dark-color));
    min-height: calc(90vh - var(--56px));
    margin: 0;
    display: flex;
    justify-content: center;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.item {
    position: absolute;
    width: 1000px;
    height: 600px;
    text-align: justify;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 520px);
    top: 4vh;
}
#next-project, #prev-project {
    position: absolute;
    top: 40%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
    z-index: 8;
}

#next-project {
    left: unset;
    right: 50px;
}




/* Content Falacy at 1104px */
@media(max-width: 69rem) {
    section {
        flex-direction: column;
        max-width: 85%;
    }
    section .half {
        flex-basis: 32rem;
        margin: auto;
    }
}


/* Up until PC 1024px */
@media(max-width: 64rem) {

}

/* Mobile 768px */
@media(max-width: 48rem) {
    h1 {
        font-size: var(--56px);
    }
    .random-title {
        font-size: var(--32px);
    }
    .content {
        font-size: 1rem;
    }
    .content div {
        line-height: 2rem;
    }
    .ladder-2, .ladder-3, .ladder-4 {
        margin-left: 1rem;
    }
    section .half {
        flex-basis: 30rem;
    }

    .links-container {
        width: 14rem;
    }
    nav a {
        padding: 1.5rem;
    }
}