.hidden { display: none; }

/* Font */

@font-face {
  font-family: "Glacial";
  src: url("../font/GlacialIndifference-Regular.otf") format("opentype");
}
  
* { font-family: "Glacial", monospace, Verdana, Arial; }
body { background-image: repeating-linear-gradient(45deg, #000, #306850 10px, #071821 10px, #071821 20px);  }

/* Frame */
@media (min-width: 576px) {   .frame { max-width: 550px; }}
@media (min-width: 768px) {   .frame { max-width: 720px; }}
@media (min-width: 992px) {   .frame { max-width: 960px; }}
@media (min-width: 1200px){   .frame { max-width: 1000px;}}

.frame {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

/* Content Container */
.card_frame {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .5rem;
}

.card_body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

/* Intro Panel */
.intro_panel {
  text-align: center;
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: #E0F8CF;
  border-radius: .3rem;
}

.intro_panel .intro_title {
  color: #071821;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .intro_panel .intro_title {
    font-size: 60px;
    line-height: 44px;
  }
}

.logo_container {
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  max-width: 50%;
  top: 0;
  left: 0;
  position: relative;
}

.star {
  max-width: 30%;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  top: 0;
  left: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.2);
  max-width: 75%;
}

/* Search Panel */
.input_group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.search_form {
  flex: 1 1 auto;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #86C06C;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Project Panel */

h2 { text-align: center;}

.flex_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .flex_child { 
    width: 350px; 
    margin: auto;
  }
  .button_toolbar { justify-content: flex-start !important; }
}


.flex_image {
  width: 100%;
  text-align: center;
}

.button_toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
}

.button_primary {
  color: #fff;
  background-color: #306850;
  border-color: #306850;
  margin-right: .5rem !important;
}

.button_secondary {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  margin-right: .5rem !important;
}
