/* transcripts - markdown styling */
.markdown-body h1 {
  font-family: "RaspberryCake", monospace, Verdana, Arial;
  background: linear-gradient(to bottom, var(--light-color), var(--accent-color-2), var(--accent-color-1));
  background-clip: text;
  font-size: var(--64px);
  color: transparent;
  text-align: center;
}

.markdown-body h2,.markdown-body h3,.makrdown-body h4 {
  border: unset;
}

.markdown-body {
  padding: 1rem;
}

.markdown-body p:has(img), .markdown-body video + p {
  width: 100%;
  text-align: center;
  font-style: italic;
}

.markdown-body p > img {
  max-width: 80%;
  min-width: 60%;
}

.markdown-body video {
  display: block;
  margin: 0 auto;
}


.markdown-body p, .markdown-body li {
  text-align: justify;
}

.markdown-body > p:last-of-type {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  width: 100%;
  border-top: 1px solid gray;
}

.markdown-body table {
  display: table;
  margin: auto;
}

.markdown-body table th {
  font-size: 20px;
}

.markdown-body * {
  font-family: "Glacial", monospace, Verdana, Arial;
}

.markdown-body pre code span {
  font-family: "MonaspaceKrypton", monospace, Verdana, Arial;
}

.markdown-body iframe {
  width: 100%;
  margin: auto;
}

@media(max-width: 48rem) {
  .markdown-body h1 {
    font-size: var(--40px);
  }
  .markdown-body video {
    width: 100%;
  }
}